html {
    margin: 0;
}

.title {
    text-align: center;
}

.buttons {
    width: 33.3%;
    padding: 0;
    float: left;
}

.paper {
    width: 33.3%;
    margin-left: 33.3%;
    margin-right: 33.3%;
}







