* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 4%;
}

.wrapper {
    width: 33.3%;
    float: left;
}

.paper {
    width: 33.3%;
    margin-left: 33.3%;
    margin-right: 33.3%;
}

.rock {
    width: 33.3%;
    margin-left: 66.6%;
}

.scissors {
    width: 33.3%;
    margin-right: 66.6%;
}

.score {
    margin-top: 8%;
}

.rounds {
    text-align: right;
}

.compWins {
    text-align: center;
}

.humanWins {
    text-align: left;
}

#container {
    margin-top: 15%;
}









